cifar-10-python
cifar-10-python.tar.gz
CircolIssy.jpg
eggIssy.jpg
Groudon.jpg
Issy.jpg
OctopusIKea.jpeg
PontRun.jpg
Sophie.jpg
timRun.jpg
Tree.jpg
Tucker.jpg
Report/EMCReport.toc
Report/EMCReport.synctex.gz
Report/EMCReport.out
Report/EMCReport.log
Report/EMCReport.fls
Report/EMCReport.fdb_latexmk
Report/EMCReport.aux
Report/EMCReport.run.xml
Report/EMCReport.bbl
Report/EMCReport.bcf
Report/EMCReport.blg
imagesSilly
logs
Poster/EMCPoster.aux
Poster/EMCPoster.bbl
Poster/EMCPoster.blg
Poster/EMCPoster.fdb_latexmk
Poster/EMCPoster.fls
Poster/EMCPoster.log
Poster/EMCPoster.nav
Poster/EMCPoster.toc
Poster/EMCPoster.synctex.gz
Poster/EMCPoster.out
Poster/EMCPoster.snm
__pycache__
Geek20260220-231316
Geek20Feb
Results/.RData
higherDropout.keras
higherDropout2Oct.keras
Inception20Feb.keras
mightWork19Feb.keras
moreLayers05Jan.keras
moreLayers17Feb.keras
moreLayers19Feb.keras
my_model15Sep.keras
my_model15SepRunALot.keras
my_model22Sep.keras
my_model23Sep.keras
myModel02Jan.keras
myModel05Jan.keras
YAY19Feb.keras
Results/.Rhistory