cifar-10-python
cifar-10-python.tar.gz
CircolIssy.jpg
eggIssy.jpg
Groudon.jpg
Issy.jpg
OctopusIKea.jpeg
PontRun.jpg
Sophie.jpg
timRun.jpg
Tree.jpg
Tucker.jpg
imagesSilly/blahaj.jpg
imagesSilly/cappedIssy.jpg
imagesSilly/Chappell.jpg
imagesSilly/goggleIssy.jpg
imagesSilly/Hagrid.jpg
imagesSilly/Kreek.jpg
imagesSilly/Lorax.jpg
imagesSilly/lostIssy.jpg
imagesSilly/pigeon.jpg
imagesSilly/pissy.jpg
imagesSilly/Stuart.jpg
imagesSilly/Twuck.jpg
Report/EMCReport.toc
Report/EMCReport.synctex.gz
Report/EMCReport.out
Report/EMCReport.log
Report/EMCReport.fls
Report/EMCReport.fdb_latexmk
Report/EMCReport.aux
Report/EMCReport.run.xml
Report/EMCReport.bbl
Report/EMCReport.bcf
Report/EMCReport.blg
imagesSilly/colaGaze.jpg
imagesSilly/ColaSit.jpg
imagesSilly/colaSock.jpg
logs/fit/20251013-145746/train/events.out.tfevents.1760363867.LAPYA.13852.0.v2
logs/fit/20251013-151745/train/events.out.tfevents.1760365066.LAPYA.29452.0.v2
Poster/EMCPoster.aux
Poster/EMCPoster.bbl
Poster/EMCPoster.blg
Poster/EMCPoster.fdb_latexmk
Poster/EMCPoster.fls
Poster/EMCPoster.log
Poster/EMCPoster.nav
Poster/EMCPoster.toc
Poster/EMCPoster.synctex.gz
Poster/EMCPoster.out
Poster/EMCPoster.snm
__pycache__
Geek20260220-231316/fingerprint.pb
Geek20260220-231316/keras_metadata.pb
Geek20260220-231316/saved_model.pb
Geek20260220-231316/variables/variables.data-00000-of-00001
Geek20260220-231316/variables/variables.index
Geek20Feb/fingerprint.pb
Geek20Feb/keras_metadata.pb
Geek20Feb/saved_model.pb
Geek20Feb/variables/variables.data-00000-of-00001
Geek20Feb/variables/variables.index
googleP3/cats_and_dogs_filtered.zip
googleP3/inception_v3_weights_tf_dim_ordering_tf_kernels_notop.h5
Results/.RData
higherDropout.keras
higherDropout2Oct.keras
Inception20Feb.keras
mightWork19Feb.keras
moreLayers05Jan.keras
moreLayers17Feb.keras
moreLayers19Feb.keras
my_model15Sep.keras
my_model15SepRunALot.keras
my_model22Sep.keras
my_model23Sep.keras
myModel02Jan.keras
myModel05Jan.keras
YAY19Feb.keras
Results/.Rhistory
